body {
  background: rgb(238, 247, 255);
}

ul {
  position: relative;
  border: 1px solid black;
  transition: 0.2s;
  list-style: none;
  padding: 20px;
  padding-left: 110px;
}
ul:hover {
  background: rgb(63, 62, 62);
  color: white;
}
ul span {
  color: rgb(182, 182, 182);
  margin-right: 10px;
}
.link {
  position: absolute;
  right: 50px;
  border-bottom: 3px solid black;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.logout {
  position: absolute;
  left: 50px;
  border: none;
  opacity: .4;
}
.l-button {
  position: absolute;
  right: 150px;
  bottom: 40px;
  border-bottom: 3px solid white;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.r-button {
  position: absolute;
  right: 50px;
  bottom: 40px;
  border-bottom: 3px solid white;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.x-button:hover {
  border-bottom: 3px solid black;
  cursor: pointer;
  transition: 0.3s;
}
.x-button:active {
  color: black;
}
.d-company {
  bottom: 20px;
}
li {
  display: flex;
}
form {
  display: flex;
  flex-direction: column;
  padding: 50px;
}
input {
  margin: 20px;
}
button {
  margin-top: 50px;
  width: 100px;
  padding: 10px;
  font-weight: bold;
  background: white;
}
.loading {
  position: absolute;
  top: 25%;
  right: 50%;
  font-size: 100pt;
  color: rgb(208, 208, 208);
  justify-self: center;
}
.dissappear {
  display: none;
}
img {
  position: absolute;
  left: 0;
  margin-left: 20px;
  transition: 0.5s;
  max-width: 150px;
}
img:hover {
  opacity: .5;
  border: 2px solid white;
  cursor: pointer;
}
.large {
  position: relative;
}
.d-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
ol {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

ol li:nth-child(odd) {
  color: grey;
  opacity: .5;
  text-align: center;
  margin: 15px;
}

@media screen and (max-width:599px) { 
  .l-button {
    top: 25px;
    right: 30px;
    height: 17px;
  }
  .r-button {
    top: 70px;
    right: 30px;
    height: 17px;
  }
}
